In [2]:
import os
import pandas as pd

from googleapiclient.discovery import build

api_key = os.environ.get("YT_API_KEY")

#@lru_cache
def get_comments_and_replies(videoId):

    youtube = build('youtube', 'v3', developerKey=api_key)

    request = youtube.commentThreads().list(
            part = 'snippet',
            videoId = videoId,
            order = 'relevance'
        )

    response = request.execute()

    comments = []

    while response:
        for item in response['items']:
            comment = item['snippet']['topLevelComment']['snippet']['textDisplay']

            comments.append(comment)

        if 'nextPageToken' in response:
            request = youtube.commentThreads().list(
                    part = 'snippet',
                    videoId = videoId,
                    order = 'relevance',
                    pageToken = response['nextPageToken']
                )

            response = request.execute()            

        else:
            response = False


    return comments


# print(get_comments_and_replies(videoId='th5_9woFJmk'))

In [3]:
df = pd.DataFrame(columns=['videoId', 'comments'])
df['comments'] = get_comments_and_replies(videoId='TT95ZWbpa-I')
df.loc[:,'videoId'] = 'TT95ZWbpa-I'

In [4]:
df.head()

       videoId                                           comments
0  TT95ZWbpa-I  Get 68% off NordVPN! Only $3.71/mo plus 1 mont...
1  TT95ZWbpa-I  impressive how she so thoughtfully embraces be...
2  TT95ZWbpa-I  Am I the only one who wants a whole movie with...
3  TT95ZWbpa-I  When your roommate studies abroad for a semest...
4  TT95ZWbpa-I  People say vegans are annoying but I‚Äôd say peo...

In [10]:
import mysql.connector
import sqlalchemy
import os

db = mysql.connector.connect(
    host=os.environ.get('DB_IP_ADDRESS'),
    user="hussen",
    passwd=os.environ.get('DB_PASSWORD_REMOTE'),
    database="testdatabase"
)

mycursor = db.cursor()



engine = sqlalchemy.create_engine(f"mysql+mysqlconnector://hussen:{os.environ.get('DB_PASSWORD_REMOTE')}@{os.environ.get('DB_IP_ADDRESS')}:3306/testdatabase")



# mycursor.execute('CREATE DATABASE IF NOT EXISTS testdatabase')

In [11]:
df.to_sql(
    name='comments',
    con=engine,
    if_exists='replace',
    index=False
)

1929

In [12]:
df2 = pd.read_sql_table('comments', con=engine)
df2

          videoId                                           comments
0     TT95ZWbpa-I  Get 68% off NordVPN! Only $3.71/mo plus 1 mont...
1     TT95ZWbpa-I  impressive how she so thoughtfully embraces be...
2     TT95ZWbpa-I  Am I the only one who wants a whole movie with...
3     TT95ZWbpa-I  When your roommate studies abroad for a semest...
4     TT95ZWbpa-I  People say vegans are annoying but I‚Äôd say peo...
...           ...                                                ...
1924  TT95ZWbpa-I                  Invisible comment. Nobody care :)
1925  TT95ZWbpa-I                       This is boring. Unsub, again
1926  TT95ZWbpa-I  –≤—Å–µ–º –ø—Ä–∏–≤–µ—Ç –º–æ–∏ –±—É–¥—É—à–∏–µ –ø–æ–¥–ø–∏—à–∏–∫–∏ <br><br>1 –ø–æ...
1927  TT95ZWbpa-I                       No im a man we. Are horrible
1928  TT95ZWbpa-I                                    Cant speak ro u

[1929 rows x 2 columns]

In [58]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user='root',
    passwd="Mysql_root1_&$",
    database="youtube_analysis"
)

mycursor = db.cursor()

# mycursor.execute('DELETE FROM Person WHERE personID=5')
# db.commit()
# mycursor.execute("CREATE DATABASE youtube_analysis")

# mycursor.execute("CREATE TABLE Comments (ID int PRIMARY KEY AUTO_INCREMENT, videoID VARCHAR(50), comments VARCHAR(1000))")
# mycursor.execute("DROP TABLE Comments")


# mycursor.execute("INSERT INTO Person (name,age) VALUES (%s,%s)", ("Hussen", 21))
# mycursor.execute("INSERT INTO Person (name,age) VALUES (%s,%s)", ("Chris", 21))
# mycursor.execute("INSERT INTO Person (name,age) VALUES (%s,%s)", ("Haechan", 21))
# db.commit()

# mycursor.execute("SELECT * FROM Person")

# for x in mycursor:
#     print(x)

In [50]:
import sqlalchemy

engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:Mysql_root1_&$@localhost:3306/youtube_analysis')

df.to_sql(
    name='comments',
    con=engine,
    if_exists='replace',
    index=False
)

222

In [51]:
df2 = pd.read_sql_table('comments', con=engine)
df2

         videoId                                           comments
0    th5_9woFJmk  Hey everyone. This video will be the first vid...
1    th5_9woFJmk  Just a heads up for anyone doing this, don&#39...
2    th5_9woFJmk  Hey Corey, I love that your videos are detaile...
3    th5_9woFJmk  Incredible job! Thank you for the videos! Core...
4    th5_9woFJmk  Best online Python tutor! Besides the excellen...
..           ...                                                ...
217  th5_9woFJmk                             Django rest api please
218  th5_9woFJmk                                    First comment ‚ù§
219  th5_9woFJmk                         Why comment count is zero!
220  th5_9woFJmk                   If you reply I will peepeepoopoo
221  th5_9woFJmk                                                  üëë

[222 rows x 2 columns]

In [3]:
import mysql.connector
from datetime import date
import datetime
import os

db = mysql.connector.connect(
    host=os.environ.get('DB_IP_ADDRESS'),
    user="hussen",
    passwd=os.environ.get('DB_PASSWORD_REMOTE'),
    database="test"
)

mycursor = db.cursor()
mycursor.execute("SHOW TABLES")

print(mycursor.fetchone())

None