In [1]:
import nltk
#nltk.download()

In [2]:
import spacy
nltk.download('vader_lexicon')
nlp = spacy.load('en_core_web_lg')

[nltk_data] Error loading vader_lexicon: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1125)>

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
#creates an instance
sid = SentimentIntensityAnalyzer()

In [4]:
a = 'This was a good movie.'
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [8]:
from nltk.corpus import brown
brown.words()

['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', ...]

In [9]:
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')
#filters out punctuations and separates a sentence into words
filterdText=tokenizer.tokenize('Hello Hussen and Chris, you guys are amazing!! You are being tokenized! :)')
print(filterdText)

['Hello', 'Hussen', 'and', 'Chris', 'you', 'guys', 'are', 'amazing', 'You', 'are', 'being', 'tokenized']

In [10]:
import pandas as pd

In [11]:
from crawler import ApiCrawler
from database import DBConnector

crawler = ApiCrawler()
database = DBConnector()

comment-reply bundle: 100
[['무슨앱으로 하는거지?포토샵 같은데...', []], ['이거보고 멘티코어 2정예 했습니다', []], ['Why in the hell am i laughing so hard?', []], ['Manticore.exe has stopped working reboot?<br>[yes] [no]<br>[yes]<br>....<br>....<br>...<br>Reboot successful, happy manticore achieved.', []], ['I&#39;m happy to see my waifu Manticore get some love.', []], ['America approves', []], ['Perfect', []], ['아이씡나!', []], ['Now this....this is legit good content.', []], ['맨티쟝...이제 평생함께야...', []], ['What&#39;s the Outro music?', []], ['I regret watching this before, during, and after failing to get Lappy', []], ['Music?', []], ['If Manticore is happy then i am also happy for her :)', []], ['멘티 볼때마다 느끼지만 귀엽긴해', []], ['Manticore harrasing random girl', []], ['SSAP ABLE', []], ['?', []], ['이쯤되면 저 배경의 여성분이 불쌍한데? ㅋㅋㅋㅋㅋㅋ', []], ['참다가 마지막에서 터졋다 ㅅㅂ ㅋㅋ', []], ['이거 브금뭐야 기억안나', []], ['혹시 아웃트로에 쓰이는브금 먼지 알려주실분?', ['retro funky 라고 치시면 나와요']], ['아 미치겠다 군침이 싹 도노', []], ['다음은 마터호른 배치 2 소리로 장난치는 영상이면 좋겠다', []], ['원곡이 뭐임?', []], ['また懐かしいネタを…', []], ['역시 커비노래는 전설이지', []], ['What an amazing one person band', []], ['외국인: 나는 뭔죄임?', []], ['혼란하다 혼란해', []], ['트럼펫 멘티코어', []], ['멘티 키워볼까', []], ['✨🦂✨', []], ['나만 그 투구 생각했냐?', []], ['doot', []], ['싱크 잘맞는거 무엇', []], ['난 이게 뭐가 재밌다고 1분 20초 동안 다보고 있지..?', []], ['나중엔 북도치겠군', []], ['그 멘티코어 꼬리에 찔리고싶단 뎃글 사라졌다!', []], ['킹치만 이렇게까지 하지 않으면 존재감이 없는걸..', ['댓글있는지조차 몰랐다는게 명방학계 정설', '왜 댓글이 없어요 ㅠㅠ']], ['ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ', []], ['퀄리티 지립니다', []], ['This so dumb, i love it', []], ['내가 이걸 왜 보고있지 하다보면 머찐 아웃트로가 나와버리는 매직', []], ['trumpet boiiiiiiiiyyyyyyyyyyyy', []], ['bgm?', []], ['패러디 편집 연습하시고 오셨군', []], ['아 ㅋㅋ 볼수록 킹받네 ㅋㅋ', []], ['약을 거하게 하셧군요 ㅋㅋ', []], ['여기 신난 전갈이 있습니다. 맨티코어라고 매우 위험한 녀석이죠. (대충 사건사고 이야기). 하지만, 지금은 제 점심이죠.<br>잡았다 얍<br>이제 꼬리를 (뚝)<br>냠', []], ['매일 영상 기다려...중독됬어..더..더!', []], ['Song name please<br>I don&#39;t even know what meme is this', ['@DOC. OSCAR wow thanks', 'Gourmet race - <a href="https://youtu.be/3w4B16TRsPM">https://youtu.be/3w4B16TRsPM</a>']], ['<a href="https://www.youtube.com/watch?v=___NoMi5pp0&amp;t=0m16s">0:16</a> 떼마시아', []], ['맨티코어가 아싸여야 하는 이유를 알겠다', []], ['What is this game? Looks interesting', []], ['맨티신났어~?5959~그랬어~?', []], ['정신 나갈거 같애!!', []], ['40초간 친구....ㅠㅠ', []], ['개신나보이넼ㅋㅋㅋ', []], ['이러한 약은 주기적으로 섭취하면 건강에 아주 &#39;좋습니다&#39;', []], ['Nian made her blocked that poor girl', []], ['싫어요 하나도 없는거 실화눜ㅋㅋㅋ', []], ['맨티코어는 친구생겨서 기분조아', []], ['?', []], ['정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아정신 나갈것 같아', []], ['엔디가 1분20초 동안 마우스로 ㅈㄹ한 영상ㅋㅋㅋㅋㅋ', []], ['흐믓', []], ['When you realise that you&#39;re can&#39;t get her', ['Haha crowd control slow tag go brrrr', 'Im sorry but...<br>You*']], ['아웃트로는 맨티코어가 접수했다구!', []], ['♡가능♡', []], ['왜 커비 노래는 항상 이런 병맛 영상에 쓰이는걸까?', []], ['Sans', []], ['Perfection👌', []], ['저래도 맨티코어는 개 아싸라 안 보인다는 게 학교의 점심', []], ['This is beautiful I am crying and shaking rn. Thank you for creating this', []], ['원본도 도랏 ㅋㅋㅋㅋ', []], ['<a href="https://www.youtube.com/watch?v=___NoMi5pp0&amp;t=0m57s">0:57</a> 눈에 검은줄 그어논거처럼 생겼다<br>이름은?<br>매..맨티코어에요...', ['꺼라']], ['마지막ㅋㅋㅋㅋ맨티코어가 고무줄이냐고요ㅋㅋㅋㅋㅋ', []], ['지랄 별게 다 유튜브네', []], ['먹어야되는 약은 꼭 챙겨드시라 말씀 드렸거늘...', []], ['i won&#39;t even question this', []], ['저 영상에 북치는 스카디 넣어서 우려먹...아니지 콜라보로 하죠.....!!!!', []], ['형 우리 산갈좌 버린거야??....산갈좌도 쫌 친구만들어줘...ㅠㅠ 산만가르고 맨날 강물흐르잖아....', ['???:산을 갈랐지만 그로인해 생긴 두쪽 중 하나가 산카디를 지나갔다', 'ㅋㅋㅋㅋ']], ['트럼펫 대신 꼬리로 연주하는건가요 대단하군', []], ['트럼펫 보이 패러디 구나 ㅋㅋㅋ', []], ['이거 흥미롭군요', []], ['맨티코어 존재감 없어서 박아도 못 느끼고 아다도 못 때는건가?', []], ['Quality content', []], ['A good manticore is a happy manticore', []], ['&quot;가능&quot;', []], ['솔직하게 말씀해보세요.... 저번 아웃트로 반응좋아서 재미들리셨죠?!  어쨌든 신난 맨티코어를 보니 저희도 신나는군요', []], ['아 이거 멘티코어가 트럼펫 들고 있었으면 완벽했는데 🎺🎺🎺', []], ['뭔 약했나', []], ['와.. 진짜 프로그램을 사용하면서 얼마나 많이 알고있고 사용할수 있다는게 중요하지 않다는걸 보여주는 좋은 예시다.. ㅋㅋㅋㅋ 가장 중요한건 기본에 충실하고 얼마나 기본을 응용할 줄 아느냐지 ㅋㅋㅋㅋㅋ 여기서 인생을 배우네 ㅋㅋㅋㅋㅋ', ['@엔디 툴을 사용하면서 가장중요한건 얼마나 많은 툴을 알고있는게 아니라 기본기를 얼마나 이해하하고 있는지 응용할수있는지 였습니다... ㅋㅋ 한 수 배우고갑니다..<br><br>고로 졸잼이었다는얘기.. ㅋㅋ 그리고 인생도 배움', '?']], ['왓이스뎃', []], ['이게 친구 생겼다고 뇌절하는 그거 맞죠?', []], ['정신나갈거같애', []], ['뭐야 재업인줄알앗는데 <br>또다른약이잖아?!♡', []], ['친구가 생겨 기쁜 멘티코어', []], ['이젠 이런 짓까지 하는 건가....', []]]

ModuleNotFoundError: No module named 'psycopg2'

In [12]:
import time
from functools import lru_cache
  
# Function that computes Fibonacci numbers without lru_cache
def fib_without_cache(n):
    if n < 2:
        return n
    return fib_without_cache(n-1) + fib_without_cache(n-2)
      
begin = time.time()
fib_without_cache(35)
end = time.time()

print("Time taken to execute the function without lru_cache is", end-begin)

Time taken to execute the function without lru_cache is 3.7591230869293213

In [13]:
  
# Function that computes Fibonacci
# numbers with lru_cache
@lru_cache
def fib_with_cache(n):
    if n < 2:
        return n
    return fib_with_cache(n-1) + fib_with_cache(n-2)
      
begin = time.time()
fib_with_cache(50)
end = time.time()
  
print("Time taken to execute the function with lru_cache is", end-begin)

Time taken to execute the function with lru_cache is 0.0002181529998779297

In [14]:

from googleapiclient.discovery import build

api_key = 'AIzaSyA0h_nvX_m1-ZlqeCyq07sxVbAkzjpzIvc'


#@lru_cache
def get_comments_and_replies(videoId):

    youtube = build('youtube', 'v3', developerKey=api_key)

    request = youtube.commentThreads().list(
            part = 'snippet',
            videoId = videoId,
            order = 'relevance'
        )

    response = request.execute()

    comments = []

    while response:
        for item in response['items']:
            comment = item['snippet']['topLevelComment']['snippet']['textDisplay']

            comments.append(comment)

        if 'nextPageToken' in response:
            request = youtube.commentThreads().list(
                    part = 'snippet',
                    videoId = videoId,
                    order = 'relevance',
                    pageToken = response['nextPageToken']
                )

            response = request.execute()            

        else:
            response = False


    return comments

In [15]:
df = pd.DataFrame(columns=['videoId', 'comments'])  # Creating an empty pandas dataframe
df['comments'] = get_comments_and_replies(videoId='TT95ZWbpa-I')  # Populating the 'comments' column
df.loc[:,'videoId'] = 'TT95ZWbpa-I'  # Poulating the 'videoID' coulmn

In [16]:
df.head()

       videoId                                           comments
0  TT95ZWbpa-I  Get 68% off NordVPN! Only $3.71/mo plus 1 mont...
1  TT95ZWbpa-I  impressive how she so thoughtfully embraces be...
2  TT95ZWbpa-I  Am I the only one who wants a whole movie with...
3  TT95ZWbpa-I  When your roommate studies abroad for a semest...
4  TT95ZWbpa-I  People say vegans are annoying but I’d say peo...

In [17]:
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from textblob import TextBlob

stop_words = set(stopwords.words('english'))

def remove_stopwords(line):
    word_tokens = word_tokenize(line)
    filtered_sentence = [w for w in word_tokens if not w in stop_words]
    return ' '.join(filtered_sentence)


def remove_nonwords(line):
    word_tokens = word_tokenize(line)
    filtered_sentence = [w for w in word_tokens if not w in stop_words]
    return ' '.join(filtered_sentence)

df['comments'] = df['comments'].str.lower()
df['comments'] = df['comments'].str.strip()
df['stop_comments'] = df['comments'].apply(lambda x : remove_stopwords(x))
df['polarity'] = df['comments'].apply(lambda x: TextBlob(x).sentiment.polarity)
df['pol_cat'] = df.apply(lambda _: '', axis=1)

df.head()

,videoId,comments,stop_comments,polarity,pol_cat
0,TT95ZWbpa-I,get 68% off nordvpn! only $3.71/mo plus 1 mont...,get 68 % nordvpn ! $ 3.71/mo plus 1 month free...,0.341667,
1,TT95ZWbpa-I,impressive how she so thoughtfully embraces be...,impressive thoughtfully embraces annoying . st...,0.150000,
2,TT95ZWbpa-I,am i the only one who wants a whole movie with...,one wants whole movie julie nolke playing char...,0.133333,
3,TT95ZWbpa-I,when your roommate studies abroad for a semest...,roommate studies abroad semester comes back ac...,0.000000,
4,TT95ZWbpa-I,people say vegans are annoying but i’d say peo...,people say vegans annoying ’ say people “ glob...,-0.100000,

In [18]:
sid.polarity_scores(df.iloc[0]['comments'])

{'neg': 0.0, 'neu': 0.647, 'pos': 0.353, 'compound': 0.8997}

In [19]:
df['scores']=df['comments'].apply(lambda comments: sid.polarity_scores(comments))

In [20]:
df.head()

,videoId,comments,stop_comments,polarity,pol_cat,scores
0,TT95ZWbpa-I,get 68% off nordvpn! only $3.71/mo plus 1 mont...,get 68 % nordvpn ! $ 3.71/mo plus 1 month free...,0.341667,,"{'neg': 0.0, 'neu': 0.647, 'pos': 0.353, 'comp..."
1,TT95ZWbpa-I,impressive how she so thoughtfully embraces be...,impressive thoughtfully embraces annoying . st...,0.150000,,"{'neg': 0.216, 'neu': 0.54, 'pos': 0.244, 'com..."
2,TT95ZWbpa-I,am i the only one who wants a whole movie with...,one wants whole movie julie nolke playing char...,0.133333,,"{'neg': 0.0, 'neu': 0.893, 'pos': 0.107, 'comp..."
3,TT95ZWbpa-I,when your roommate studies abroad for a semest...,roommate studies abroad semester comes back ac...,0.000000,,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,TT95ZWbpa-I,people say vegans are annoying but i’d say peo...,people say vegans annoying ’ say people “ glob...,-0.100000,,"{'neg': 0.093, 'neu': 0.907, 'pos': 0.0, 'comp..."

In [21]:
df['compound']= df['scores'].apply(lambda d:d['compound'])

In [22]:
df.head()

,videoId,comments,stop_comments,polarity,pol_cat,scores,compound
0,TT95ZWbpa-I,get 68% off nordvpn! only $3.71/mo plus 1 mont...,get 68 % nordvpn ! $ 3.71/mo plus 1 month free...,0.341667,,"{'neg': 0.0, 'neu': 0.647, 'pos': 0.353, 'comp...",0.8997
1,TT95ZWbpa-I,impressive how she so thoughtfully embraces be...,impressive thoughtfully embraces annoying . st...,0.150000,,"{'neg': 0.216, 'neu': 0.54, 'pos': 0.244, 'com...",0.2002
2,TT95ZWbpa-I,am i the only one who wants a whole movie with...,one wants whole movie julie nolke playing char...,0.133333,,"{'neg': 0.0, 'neu': 0.893, 'pos': 0.107, 'comp...",0.2023
3,TT95ZWbpa-I,when your roommate studies abroad for a semest...,roommate studies abroad semester comes back ac...,0.000000,,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
4,TT95ZWbpa-I,people say vegans are annoying but i’d say peo...,people say vegans annoying ’ say people “ glob...,-0.100000,,"{'neg': 0.093, 'neu': 0.907, 'pos': 0.0, 'comp...",-0.2144

In [23]:
df['comp_score']= df['compound'].apply(lambda score: 'pos' if score >=0 else 'neg')

In [24]:
df.head()

,videoId,comments,stop_comments,polarity,pol_cat,scores,compound,comp_score
0,TT95ZWbpa-I,get 68% off nordvpn! only $3.71/mo plus 1 mont...,get 68 % nordvpn ! $ 3.71/mo plus 1 month free...,0.341667,,"{'neg': 0.0, 'neu': 0.647, 'pos': 0.353, 'comp...",0.8997,pos
1,TT95ZWbpa-I,impressive how she so thoughtfully embraces be...,impressive thoughtfully embraces annoying . st...,0.150000,,"{'neg': 0.216, 'neu': 0.54, 'pos': 0.244, 'com...",0.2002,pos
2,TT95ZWbpa-I,am i the only one who wants a whole movie with...,one wants whole movie julie nolke playing char...,0.133333,,"{'neg': 0.0, 'neu': 0.893, 'pos': 0.107, 'comp...",0.2023,pos
3,TT95ZWbpa-I,when your roommate studies abroad for a semest...,roommate studies abroad semester comes back ac...,0.000000,,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
4,TT95ZWbpa-I,people say vegans are annoying but i’d say peo...,people say vegans annoying ’ say people “ glob...,-0.100000,,"{'neg': 0.093, 'neu': 0.907, 'pos': 0.0, 'comp...",-0.2144,neg

In [25]:
df['comp_score_pol']= df['polarity'].apply(lambda score: 'pos' if score >=0 else 'neg')

In [30]:
#del df['scores']
df.head()

,videoId,comments,stop_comments,polarity,pol_cat,compound,comp_score,comp_score_pol
0,TT95ZWbpa-I,get 68% off nordvpn! only $3.71/mo plus 1 mont...,get 68 % nordvpn ! $ 3.71/mo plus 1 month free...,0.341667,,0.8997,pos,pos
1,TT95ZWbpa-I,impressive how she so thoughtfully embraces be...,impressive thoughtfully embraces annoying . st...,0.150000,,0.2002,pos,pos
2,TT95ZWbpa-I,am i the only one who wants a whole movie with...,one wants whole movie julie nolke playing char...,0.133333,,0.2023,pos,pos
3,TT95ZWbpa-I,when your roommate studies abroad for a semest...,roommate studies abroad semester comes back ac...,0.000000,,0.0000,pos,pos
4,TT95ZWbpa-I,people say vegans are annoying but i’d say peo...,people say vegans annoying ’ say people “ glob...,-0.100000,,-0.2144,neg,neg

In [28]:
# Install these two if you haven't already
import mysql.connector
import sqlalchemy

db = mysql.connector.connect(
    host= '172.104.156.171', # Set environment variables before you do this
    user="hussen",
    passwd='Mysql_remote_login_1',  # Set environment variables before you do this
    database="testdatabase"
)

mycursor = db.cursor()



engine = sqlalchemy.create_engine(f"mysql+mysqlconnector://hussen:{'Mysql_remote_login_1'}@{'172.104.156.171'}:3306/testdatabase")



# mycursor.execute('CREATE DATABASE IF NOT EXISTS testdatabase')

In [31]:
# Storing it in our database
df.to_sql(
    name='comments',
    con=engine,
    if_exists='replace',
    index=False
)

-1

In [32]:
import sklearn

In [ ]:
import matplotlib

In [33]:
from sklearn.matrics import accuracy_score, classification_reprot, confusion_matrix

ModuleNotFoundError: No module named 'sklearn.matrics'